@tailwind base;
    @tailwind components;
    @tailwind utilities;

    @media (max-width: 768px) {
      .container {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    @media (max-width: 640px) {
      .container {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
    
    /* Default (Light Mode) */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #ffffff;
  }
}
